USE [W_GnBD]
if (3 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRAAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAAGENT_0F124E0361564A2C', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'TRAAGENT_0F124E0361564A2C','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'traagent', 'TRAAGENT_CODAGENT', 'tra';
end
GO
if (20 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRABROKER_CODBROKER', 'codbroker', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRABROKER_FA1B96F0CFA24B1F', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'trabroker', 'TRABROKER_CODBROKER', 'tra';
end
GO
if (14 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRACOUNTRY_CODCOUNTRY', 'codcountry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRACOUNTRY_1965227D5385465D', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'tracountry', 'TRACOUNTRY_CODCOUNTRY', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRAMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'tramem', 'TRAMEM_CODMEM__', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAPSW_BC170C113AFF4D09', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'TRAPSW_BC170C113AFF4D09','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'tra';
end
GO
if (14 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRACITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRACITY_0B0AAD461C34418B', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'tracity', 'TRACITY_CODCITY_', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'tra';
end
GO
if (1 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAS_UA_6EA30F94C10A4C8D', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAS_UA_6EA30F94C10A4C8D', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'TRAS_UA_6EA30F94C10A4C8D','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'tra';
end
GO
if (20 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRAPROPERTIES_CODPROPERTIES', 'codproperties', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAPROPERTIES_9D9E5D002F4743F1', 'broker_fk', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAPROPERTIES_9D9E5D002F4743F1', 'solddate', 0, 2, 0, 0
UNION ALL
SELECT 'TRAPROPERTIES_9D9E5D002F4743F1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAPROPERTIES_F22ED9C3BE2343F7', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRAPROPERTIES_F22ED9C3BE2343F7', 'broker_fk', 0, 2, 0, 0
UNION ALL
SELECT 'TRAPROPERTIES_F22ED9C3BE2343F7','sold', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'traproperties', 'TRAPROPERTIES_CODPROPERTIES', 'tra';
end
GO
if (14 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRACONTACT_CODCONTACT', 'codcontact', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TRACONTACT_6A49A4C163AC40F0', 'codproperties_fk', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'tracontact', 'TRACONTACT_CODCONTACT', 'tra';
end
GO
if (14 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TRAPHOTO_ALBUM_CODPHOTO_ALBUM', 'codphoto_album', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'traphoto_album', 'TRAPHOTO_ALBUM_CODPHOTO_ALBUM', 'tra';
end
GO

if (20 > isnull((select versindx from TRAcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'traalerta_alerta01'))
	DROP INDEX traalerta_alerta01 ON traalerta
CREATE INDEX traalerta_alerta01 ON traalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit01'))
	DROP INDEX trapostit_postit01 ON trapostit
CREATE INDEX trapostit_postit01 ON trapostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit02'))
	DROP INDEX trapostit_postit02 ON trapostit
CREATE INDEX trapostit_postit02 ON trapostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit03'))
	DROP INDEX trapostit_postit03 ON trapostit
CREATE INDEX trapostit_postit03 ON trapostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit04'))
	DROP INDEX trapostit_postit04 ON trapostit
CREATE INDEX trapostit_postit04 ON trapostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit05'))
	DROP INDEX trapostit_postit05 ON trapostit
CREATE INDEX trapostit_postit05 ON trapostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit06'))
	DROP INDEX trapostit_postit06 ON trapostit
CREATE INDEX trapostit_postit06 ON trapostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'trapostit_postit07'))
	DROP INDEX trapostit_postit07 ON trapostit
CREATE INDEX trapostit_postit07 ON trapostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'traaltent_altent01'))
	DROP INDEX traaltent_altent01 ON traaltent
CREATE INDEX traaltent_altent01 ON traaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'tradelega_delega01'))
	DROP INDEX tradelega_delega01 ON tradelega
CREATE INDEX tradelega_delega01 ON tradelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'tradelega_delega02'))
	DROP INDEX tradelega_delega02 ON tradelega
CREATE INDEX tradelega_delega02 ON tradelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'tralstusr_codpsw'))
	DROP INDEX tralstusr_codpsw ON tralstusr
CREATE INDEX tralstusr_codpsw ON tralstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'tralstcol_codlstusr'))
	DROP INDEX tralstcol_codlstusr ON tralstcol
CREATE INDEX tralstcol_codlstusr ON tralstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'tralstren_codlstusr'))
	DROP INDEX tralstren_codlstusr ON tralstren
CREATE INDEX tralstren_codlstusr ON tralstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'trausrwid_codlstusr'))
	DROP INDEX trausrwid_codlstusr ON trausrwid
CREATE INDEX trausrwid_codlstusr ON trausrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'tratblcfg_codpsw_uuid_name'))
	DROP INDEX tratblcfg_codpsw_uuid_name ON tratblcfg
CREATE INDEX tratblcfg_codpsw_uuid_name ON tratblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'tratblcfg_codpsw_uuid'))
	DROP INDEX tratblcfg_codpsw_uuid ON tratblcfg
CREATE INDEX tratblcfg_codpsw_uuid ON tratblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logtraall_logtraall01'))
	DROP INDEX logtraall_logtraall01 ON logtraall
CREATE CLUSTERED INDEX [logtraall_logtraall01] ON [dbo].[logTRAall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE TRAcfg set versindx = 20
end
GO