-- recalculo de fórmulas para a tabela TRAPHOTO_ALBUM
GO
GO
-- recalculo de fórmulas para a tabela TRACONTACT
GO
GO
-- recalculo de fórmulas para a tabela TRAproperties
-- Layer 0
update [properties]
SET [properties].[buildingage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([properties].[dateconstruction])
FROM [traproperties] AS [properties]


GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela TRACITY
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela TRAMEM
GO
GO
-- recalculo de fórmulas para a tabela TRACOUNTRY
GO
GO
-- recalculo de fórmulas para a tabela TRABroker
USE [W_GnBD]
update [trabroker] set
     [salesprofit] = + (select isnull(sum(source.[PRICE]),0) from [traproperties] as source where [trabroker].[codbroker] = source.[broker_fk] and source.zzstate = 0)
     ,[noofproperties] = + (select isnull(count(*),0) from [traproperties] as source where [trabroker].[codbroker] = source.[broker_fk] and source.zzstate = 0)
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela TRAAGENT
GO
GO


GO
