IF((SELECT COUNT(1) FROM TRAcfg) = 0)
	INSERT INTO TRAcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2520, 0, NULL, 0, 0)
ELSE
  UPDATE TRAcfg set versao = 2520, upgrindx = 0;
GO
